
@import "../partial";


    /* LAYOUT */

.wrapper {
  max-width: 100%;
  min-height: 100vh;
  background-color: $BackgroundColor;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 70% 15%;
}

    /* Header */

.form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  &__heading {
    font-family: $MainFont;
    font-size: 3.6em;
    height: auto;
    color: $TextColor;
    text-align: center;
  }
  &__reset {
    display: block;
    font-family: $MainFont;
    font-size: 1.9em;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 1.5em auto 0;
  }
}