
@import "../../partial";

.email {
  width: 73%;
  height: 4em;
  display: flex;
  margin: 4em auto 0;
  border: .1em solid $TextColor;
  border-top-left-radius: 2em 50%;
  border-bottom-left-radius: 2em 50%;
  border-top-right-radius: 2em 50%;
  border-bottom-right-radius: 2em 50%;
}

.email:focus {
  border: .1em solid $InputColor;
}